# 数据库配置
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=wzhs_booking

# Prisma 连接串 (本地开发使用)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/wzhs_booking"

# 钉钉配置
DINGTALK_CLIENT_ID=""
DINGTALK_CLIENT_SECRET=""
DINGTALK_REDIRECT_URI="http://localhost:3000/login"
